SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8081

DB_URL=jdbc:postgresql://localhost:5433/auth_service_db
DB_USERNAME=innowise_auth
DB_PASSWORD=change-me-auth

JWT_SECRET=change-me-use-at-least-32-characters-long-secret
JWT_ACCESS_EXPIRATION_MINUTES=15
JWT_REFRESH_EXPIRATION_DAYS=7

POSTGRES_DB=auth_service_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-postgres-admin
APP_DB_USERNAME=innowise_auth
APP_DB_PASSWORD=change-me-auth
